<div class="row">
	<div class="col-md-12">
	    <div class="page-header">
	        <h1>Dashboard <small> Panel </small></h1>
	        <p class="lead">

This application is a proof of concept for the development of applications using docker, express, spring, mysql and twitter api.
	        </p>
	    </div>
	</div>
</div>

<div class="row">
	<div class="col-md-4">
		<p class="lead">
			Select an option below:
		</p>
		<ul class="list-group">
			<a href="/#!/tweets/search" class="list-group-item">Search Tweets</a>
			<a href="/#!/tweets/import" class="list-group-item">Import Tweets</a>
			<a href="/#!/tweets/list-total-by-date" class="list-group-item">List Total of Tweets by date </a>
			<a href="/#!/tweets/list-total-by-location-lang" class="list-group-item">List Total of Tweets by Location or Lang</a>
			<a href="/#!/users/list-has-many-followers" class="list-group-item">Show users who have more followers</a>
		</ul>
	</div>
</div>